<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">
  <div class="row border-bottom white-bg">
    <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">
      <a href="#" class="navbar-brand">UTN Reconquista</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-reorder"></i>
      </button>
      <div class="navbar-collapse collapse pull-right" id="navbar">
        <ul class="nav navbar-nav mr-auto">
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a>
                    {{now | date:'d MMMM y HH:mm:ss':undefined:'es'}}
                </a>
            </li>
        </ul>
     </div>
    </nav>

  </div>
  <div class="wrapper wrapper-content">

    <div class="row">
      <div class="col-12">
          <div class="row">
              <div class="col-6">
                  <div class="ibox ">
                      <div class="ibox-content">
                        <app-carousel></app-carousel>
                      </div>
                  </div>
              </div>
              <div class="col-6">
                <div class="ibox ">
                    <div class="ibox-content">
                      <app-timetable></app-timetable>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer fixed">
      <div class="float-right">
          Created by <strong>ADWEB Digital Agency</strong>.
      </div>
      <div>
          <strong>Copyright</strong> UTN FRRQ © 2021
      </div>
  </div>

  </div>
  </div>
